body {
  background-color: #a6a6ad;
}

.badge-spacing {
  margin-left: 6rem;
}

input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid green;
}

.hidden-form {
  display: none;
}
